# Core
fastapi
uvicorn[standard]

# Authentication
PyJWT
passlib[bcrypt]
python-multipart

# Database
sqlalchemy
psycopg[binary]
alembic

# Config
pydantic[email]
pydantic-settings
python-dotenv

# Tests
pytest
httpx

# Schedule Service
ortools