# Core
fastapi
uvicorn[standard]

# Authentication
PyJWT
passlib[bcript]
python-multipart

# Database
sqlalchemy
psycopg[binary]
alembic

# Config
pydantic
pydantic-settings
python-dotenv

# Tests
pytest
httpx

# Schedule Service
ortools